---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import type { Frontmatter } from "src/types";
import Socials from "@components/Socials.astro";
import { SOCIALS } from "@config";

const posts = await Astro.glob<Frontmatter>("../contents/**/*.md");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(
  ({ frontmatter }) => frontmatter.featured
);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <div class="max-h-screen overflow-hidden">
    <Header />
    <main id="main-content" class="flex items-center justify-center min-h-screen w-full" style="height: 80vh;">
      
        <div class="z-10 relative">
          <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

          <img id = "dark-landing" class="max-h-screen relative" src="/assets/landing.svg" class="" alt="coding dev illustration">
          <img id = "light-landing" class="max-h-screen " src="/assets/light-landing.svg" class="" alt="coding dev illustration">
        </div>
      <!-- <Hr /> -->
    </main>
  </div>
  <!-- <Footer /> -->
</Layout>

<style>
 
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8 pb-6;
  }
  #hero h1 {
    @apply inline-block font-bold my-4 sm:my-8 text-3xl sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply h-6 w-6 scale-110 sm:scale-125 mb-2 sm:mb-3 fill-skin-accent;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply flex flex-col sm:flex-row sm:items-center mt-4;
  }
  .social-links {
    @apply whitespace-nowrap mr-2 sm:mb-0 mb-1;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply font-semibold text-2xl tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply text-center my-8;
  }
</style>
